# fab related
*.egg-info
dist
.setup
env
*.pyc

# system related
.DS_Store

# java related
*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea

__pycache__
build/
.eggs/

/config.yml

/output/*
!/output/.placeholder

/input/*
!/input/.placeholder