dropbox:
  # code requires you provide a pair of app-key and app-secret here
  # You may create a app here: https://www.dropbox.com/developers/apps
  # and generate your access token
  #
  access_token: <your-access-token-here>

input: # a list
  - ./input/description.txt

output: # a simple string
  ./output

filter:
  test_names:
    - file.txt
    - file.md
    - aa/bb/cc.mat
    - ff.mat
